.container-big-card {
  width: 400px;
  height: 600px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 25px 20px 0 20px;
}

.big-card-photo > img {
  width: 100%;
  min-width: 400px;
}

.big-card-title > a {
  font-size: 1.5rem;
  margin-top: 10px;
  text-decoration: none;
}

.big-card-description > p {
  color: gray;
  margin-top: 20px;
}
