<div class="container-big-card">
  <div class="big-card-photo">
    <img
      src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      alt=""
      height="250px"
    />
  </div>
  <div class="big-card-title">
    <a href="#">Saiu uma nova versão do Angular</a>
  </div>
  <div class="big-card-description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
      suscipit dolor sapiente maiores quae saepe est ducimus itaque, facilis
      distinctio architecto commodi? Officia aspernatur nostrum sequi vero
      debitis architecto perspiciatis?
    </p>
  </div>
</div>
