<div class="container-small-card">
  <img
    src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    alt=""
  />
  <div class="text-news">
    <h3>Titulo da Notícia</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
      placeat, harum laboriosam inventore consequatur corrupti! Ad odio autem
      asperiores, veritatis quas debitis corporis laboriosam consequuntur nihil
      perferendis, ducimus deleniti quis?
    </p>
    <hr />
  </div>
</div>
