.container-small-card {
  width: 600px;
  margin: 0 15px 30px 15px;
  display: flex;
  gap: 15px;
}

.container-small-card > img {
  width: 150px;
  height: 100px;
}

.text-news > h3 {
  margin-bottom: 15px;
}

hr {
  margin-top: 5px;
  border-color: rgba(32, 32, 32, 0.3);
}
