<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-title></app-title>
<div class="container-articles">
  <main>
    <div class="articles-main">
      <app-big-card
        photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        cardTitle="Saiu uma nova versão do Angular"
        cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
      suscipit dolor sapiente maiores quae saepe est ducimus itaque, facilis
      distinctio architecto commodi? Officia aspernatur nostrum sequi vero
      debitis architecto perspiciatis?"
      ></app-big-card>
    </div>
  </main>
  <aside>
    <div class="articles-other">
      <app-small-card
        photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        title="Titulo da Notícia"
        description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
      placeat, harum laboriosam inventore consequatur corrupti! Ad odio autem
      asperiores, veritatis quas debitis corporis laboriosam consequuntur nihil
      perferendis, ducimus deleniti quis?"
      ></app-small-card>
      <app-small-card
        photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        title="Titulo da Notícia"
        description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
      placeat, harum laboriosam inventore consequatur corrupti! Ad odio autem
      asperiores, veritatis quas debitis corporis laboriosam consequuntur nihil
      perferendis, ducimus deleniti quis?"
      ></app-small-card>
      <app-small-card
        photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        title="Titulo da Notícia"
        description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
      placeat, harum laboriosam inventore consequatur corrupti! Ad odio autem
      asperiores, veritatis quas debitis corporis laboriosam consequuntur nihil
      perferendis, ducimus deleniti quis?"
      ></app-small-card>
    </div>
  </aside>
</div>
